#app-container{
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "nav nav nav"
        ". router .";

    #nav-container {
        grid-area: nav;
    }

    #router-container {
        grid-area: router;
    }
}
